[submodule "aion-computer-book"]
	path = aion-computer-book
	url = https://github.com/flyingrobots/aion-computer-book.git
[submodule "aion-paper-01-warp"]
	path = aion-paper-01-warp
	url = https://github.com/flyingrobots/aion-paper-01-warp.git
[submodule "aion-paper-02-worldlines"]
	path = aion-paper-02-worldlines
	url = https://github.com/flyingrobots/aion-paper-02-worldlines.git
[submodule "aion-paper-03-holography"]
	path = aion-paper-03-holography
	url = https://github.com/flyingrobots/aion-paper-03-holography.git
[submodule "aion-paper-04-observer-geometry"]
	path = aion-paper-04-observer-geometry
	url = https://github.com/flyingrobots/aion-paper-04-observer-geometry.git
[submodule "aion-paper-05-dynamics"]
	path = aion-paper-05-dynamics
	url = https://github.com/flyingrobots/aion-paper-05-dynamics.git
